<!DOCTYPE html>
        <head>
            <title>Script CGI</title>
        </head>

{% macro input(name, value = '', type = 'text', size = 20) -%}
  <input type = "{{ type }}" name = "{{ name }}" value = "{{ value }}" size = "{{ size }}">
{%- endmacro %}

        <body>
            <form action="/rep" method="post">
                <p>Your name : {{ input('name') }}</p>
                <p>Your first name : {{ input('fname') }}</p>
                <input type="submit" name="send" value="Envoyer information au serveur">
            </form> 
        </body>
        </html>
